<% @active_page = 'code' %>
<div class="container">
  <h2>code</h2>
  <p>
    i attempt to use the 5 and 2 rule. Eat what i want, that which is healthy, for 5 days. Then fast for 2.
  </p>
  <p>Learn technology for an hour for 5 days. Then, learn something else for 2.</p>
  <p>Here are some subjects that i've been dabbling in.</p>
  <ul>
    <li><a href="/react">React</a>, the javascript stuff</li>
  </ul>
</div>