<%
  @active_page = 'code'
  @page_title = 'Nathan Taubitz: Software Development, aka Code'
%>
<h2>code</h2>
<p>
  i attempt to use the 5 and 2 rule. Eat what i want, that which is healthy, for 5 days. Then fast for 2.
</p>
<p>Learn technology for an hour for 5 days. Then, learn something else for 2.</p>
<p>Here are some subjects that i've been dabbling in.</p>
<ul>

  <li>This site. i started with a Rails 5 project and i am using this platform
    to learn everything from new front end frameworks like Bootstrap, React and Angular to algorithms.
    You can find all the source on my <a target="_blank" href="https://github.com/ntaubitz">github page</a>.
  </li>
  <li>
    <a href="/vue">Vue for feeds</a> uses Vue JS and my custom service layer
    to implement a feed based infinite scroll solution for social media
  </li>
</ul>