<%
  @active_page = 'contact'
  @page_title = 'Nathan Taubitz: Contact Me'
%>
<div class="row">
  <div class="col col-md-6">
    <h4>contacting me</h4>
    <p>
      i communicate in many ways, most of which i don't make publicly available.
      Check out my LinkedIn profile or check out a video on YouTube.
    </p>
  </div>
  <div class="col col-md-6">
    <h4>social media</h4>
    <p>
      Check out my LinkedIn profile at
      <a href="http://www.linkedin.com/in/nathan-taubitz" target="_blank">www.linkedin.com/in/nathan-taubitz</a>
    </p>
    <p>
      Check out some videos
      <a href="https://www.youtube.com/user/ntaubitz" target="_blank">www.youtube.com/user/ntaubitz</a>
    </p>
  </div>
</div>