@import "colors";

nav.navbar {

  .container-fluid {
    background-color: $color-light-blue;
    border-bottom: 2px solid $color-medium-blue;
    .navbar-header {

      .navbar-brand {
        .logo {
          width: 31px;
          margin: -5px 0 0 -5px;
        }
      }
    }
    ul.nav {
      &.navbar-nav {
        li {
          &.active {
            background-color: $color-medium-blue;
            a {
              background: none;
            }
          }
          a {
          }
        }
      }
    }
  }
}

.list-group {
  .list-group-item {
    &.active {
      color: $color-black;
      background-color: $color-light-blue;
      background-image: none;
      border-color: $color-medium-blue;
      text-shadow: none;
    }
  }
}