@import "colors";

ul.nav {
  &.main {
    background-color: #cce5ff;
    border-bottom: 2px solid #b8daff;

    .nav-item {
      .nav-link {
        &.active {
          background-color: #b8daff;
          color: $color-black;
        }
      }
      .logo {
        width: 31px;
        margin: 5px 0 0 5px;
      }
    }
  }
}